.landing-section {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-family: 'Lato';
  font-size: 40px;
}

h3 {
  font-family: 'Montserrat';
  font-size: 20px;
  padding: 5px 260px;
  text-align: center;
}

p {
  font-family: 'Montserrat';
  font-size: 15px;
}

a {
  padding: 10px 5px;
  width: 305px;
  border: 3px solid transparent;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-family: 'Montserrat';
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  margin: 10px;
}

a:hover {
  text-decoration: none;
}

.primary-btn {
  background-color: #47cf73;
}

.primary-btn:hover {
  background-color: #248c46;
}

.second-btn {
  background-color:  #55acee;
}

.second-btn:hover {
  background-color: #3C93D5;
}

@media (max-width:500px){
  h1 {
    font-size: 30px;
  }


  h3 {
    padding: 10px;
  }
}